.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 60px;
  .logo {
    width: 280px;
    margin-bottom: 45px;
  }

  .input-group {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;

    label {
      @include font-medium;
      color: $color-black;
    }
    input {
      @include font-basic;
      padding: 0.75rem 1rem;
      border: 2px solid $color-sub;
      border-radius: 6px;
      outline: none;


      &::placeholder {
        color: #999;
      }

      &:focus {
        border-color: $color-main;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    margin-bottom: 2rem;
    a {
      @include font-basic;
      color: $color-sub;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .login-button {
    @include btn-style();
  }

  .social-login {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    img {
      width: 48px;
      height: 48px;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  .signup {
    margin-top: 55px;


    a {
      @include font-medium;
      color: $color-sub;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}