//반응형 믹스인

@mixin tablet{
    @media screen and (max-width:769px) {
        @content;
    }
}

//폰트 컴포넌트
@mixin font-large{
    font-family: "Paperlogy";
    font-weight: 700;
    font-size: 32px;
}
@mixin font-medium{
    font-family: "Paperlogy";
    font-weight: 500;
    font-size: 24px;
}
@mixin font-basic{
    font-family: "Paperlogy";
    font-weight: 400;
    font-size: 16px;
}
@mixin font-small{
    font-family: "Paperlogy";
    font-weight: 300;
    font-size: 10px;
}

//버튼 컴포넌트
@mixin btn-style{
    background-color: $color-darkgray;
    color: $font-color;
    width: 372px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: background-color 0.25s;
    @include font-medium();
    &:hover{
        background-color: $color-main;
        color: $color-black;
        font-weight: bolder;
    }
}