*{ margin: 0; padding: 0; box-sizing: border-box;}
a{ text-decoration: none; color: inherit;}
li{ list-style: none; color: inherit;}
button{ cursor: pointer;}
input, label{ display: block; font-size: inherit; color: inherit;}
button{ display: block;}



